@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme) prefix(sdk);
/* @import "tailwindcss/preflight.css" layer(base); */
@import "tailwindcss/utilities.css" layer(utilities) prefix(sdk);

@layer theme {
  :root {
    --sdk-text-workflow-title: linear-gradient(to right, #ffffff, #999999);
    --sdk-border-color: #303030;
  }
}
@layer utilities {
  .sdk\:workflow-common-border {
    border-color: var(--sdk-border-color);
  }
  .sdk\:workflow-title {
    background: var(--sdk-text-workflow-title);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .sdk\:workflow-common-border-stimulate {
    @apply sdk:text-white sdk:border-[var(--sdk-border-color)];
  }
  .sdk\:workflow-title-button-save {
    @apply sdk:bg-white sdk:text-black;
  }
}
