@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme) prefix(sdk);
/* @import "tailwindcss/preflight.css" layer(base); */
@import "tailwindcss/utilities.css" layer(utilities) prefix(sdk);

@layer theme {
  :root {
    --sdk-color-red-500: #f87171;
  }
}
@layer utilities {
  .sdk\:text-red-500 {
    color: var(--sdk-color-red-500);
  }
}

.aevatarai-loading-icon {
  animation: aevatarai-rotate 1s linear infinite;
}

@keyframes aevatarai-rotate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
